/* Reset.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}

input {outline:none;}

img {
    max-width: 100%;
    height: auto;
}


/* Settings */
body {
    font-family: 'lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.benefits-container {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px 0px #15182429;
    position: relative;
}

.container-down {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: "";
    width: 400px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s linear;
    padding-bottom: 20px;
    padding-top: 30px;
    z-index: 999;
}

.header-active {
    background-color:#0E1D28;
}


.header-line {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.header-item:not(:last-child) {
    margin-right: 82px;
}

.header-link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    transition: opacity 0.1s linear;
}

.header-link:hover, .header-link:focus {
    opacity: .75;
}

#checkbox-toggle {
    display: none;
    margin-bottom: 5px;
}

.bar {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.bar-line {
    background-color:#fff;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.bar-line::after,
.bar-line::before {
    background-color:#fff;
    display: block;
    content: "";
    position: absolute;
    transition: all .3s;
    width: 100%;
    height: 100%;
}

.bar-line::after {
    top: -7px;
}

.bar-line::before {
    top: 7px;
}


/* Intro */

.intro {
    min-height: 120vh;
    background-image: url(../img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 360px;
}

.intro-title {
    font-family: 'lato';
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    width: 619px;
    margin-bottom: 22px;
}

.intro-subtitle {
    font-family: 'lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    width: 580px;
    margin-bottom: 59px;
}

.search-info {
    display: flex;
    flex-wrap: wrap;
}

.search-input {
    width: 260px;
    background-color: transparent;
    background: url(../img/svg/elips-input.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    padding-left: 43px;
    margin-right: 60px;
    padding-bottom: 22px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: white;
}

.search-input::placeholder {
    color: white;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.search-btn {
    padding: 15px 39px;
    background-color: #1B7DFF;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-family: 'lato';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    transition: background-color 0.2s linear;
}

.search-btn:hover, .search-btn:focus {
    background-color: #1965c8;
}

/* Benefits */

.benefits {
    margin-bottom: 131px;
}

.benefits-title {
    width: 100%;
    position: absolute;
    top: 1px;
    left: 0;
    font-family: 'lato';
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    padding: 93px 100px 88px 100px;
    transform: translateY(-100%);
    background-color: white;
}

.benefits-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits-card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits-card-pic {
    max-width: 66px;
    margin-bottom: 37px;
}

.benefits-card-title {
    margin-bottom: 26px;
    font-family: 'lato';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

.benefits-card-text {
    margin-bottom: 39px;
    font-family: 'lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.benefits-card-link {
    font-family: 'lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#006DFE;
    text-transform: uppercase;
    padding-right: 59px;
    background: url(../img/svg/arrow.svg) no-repeat 95% center;
    transition: background-position 0.2s linear;
}

.benefits-card-link:hover, .benefits-card-link:focus {
    background: url(../img/svg/arrow.svg) no-repeat right center;
}

/* Places */

.places {
    margin-bottom: 131px;
}

.places-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 39px;

}

.places-title {
    margin-right: 15px;
}

.places-link {
    font-family: 'lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#006DFE;
    text-transform: uppercase;
    padding-right: 59px;
    background: url(../img/svg/arrow.svg) no-repeat 95% center;
    transition: background-position 0.2s linear;
}

.places-link:hover, .places-link:focus {
    background: url(../img/svg/arrow.svg) no-repeat right center;
}

.places-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.places-card{
    position: relative;
    overflow: hidden;
}

.places-card::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places-card:hover .places-card-img {
    transform: scale(1.05);
}

.places-card-size-lg {
    grid-column: span 3;
}

.places-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.places-card-text {
    z-index: 3;
    position: absolute;
    font-family: 'lato';
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: white;
    bottom: 27px;
    left: 29px;
}

.places-card-link {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}

.places-card-size-sl {
    grid-column: span 2;
}

/* Tour */

.tours {
    margin-bottom: 59px;
}

.tours-tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour-info {
    padding-left: 47px;
}

.tour-title {
    font-family: 'lato';
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color:#102746; 
    margin-bottom: 85px;
}

.tour-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#102746;
    margin-bottom: 58px;
}

.tour-link {
    font-family: 'lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#006DFE;
    text-transform: uppercase;
    padding-right: 59px;
    background: url(../img/svg/arrow.svg) no-repeat 95% center;
    transition: background-position 0.2s linear;
    
}

.tour-link:hover, .tour-link:focus {
    background: url(../img/svg/arrow.svg) no-repeat right center;
}

/* Top */

.top-places {
    margin-bottom: 86px;
}

.top-title {
    margin-bottom: 54px;
}

.top-card {
    display: flex;
    flex-direction: column;

}

.top-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px 57px;
}

.top-card-img {
    position: relative;
    margin-bottom: 45px; 
}

.top-card-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 14px 25px;
}

.top-card-title {
    font-family: 'lato';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}

.top-card-comment {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 23px;
    background: url(../img/svg/comment.svg) no-repeat right;
}

.top-card-like {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 20px;
    margin-right: 14px;
    background: url(../img/svg/like.svg) no-repeat right;
}

.top-card-text {
    font-family: 'lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 43px;
}

.top-card-btn {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    background-color: #006DFE;
    padding: 13px 23px;
    width: 118px;
    transition: all 0.2s linear;
    margin: auto 0 0 0;
}

.top-card-btn:hover, .top-card-btn:focus {
    background-color: #1965c8;
}

/* Video */

.videos {
    width: 100%;
}

.video-container {
    max-width: 1550px;
    margin: 0 auto;
    position: relative;
}

.video {
    padding-top: 56.25%;
}

.video-yt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Footer */

.footer {
    background: #0E1D28;
    padding-top: 119px;
    padding-bottom: 118px;
}

.footer-logo img{
    width: 150px;
    margin: 0px 0;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    text-align: left;
}

.footer-nav:not(:last-child) {
    margin-right: 140px;
}

.footer-nav-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-bottom: 3px;
}

.footer-nav-link a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    transition: all .2s linear;
}

.footer-nav-link:not(:last-child) {
    margin-bottom: 4px;
}

.footer-nav-link a:last-child {
    margin-bottom: 118px;
}
 
.footer-nav-link a:hover, .footer-nav-link:focus {
    opacity: .75;
}

/* Adaptation */

/* Burger */

@media (max-width: 768px) {
    .header-list {
        max-height: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        padding: 0;
        right: 0;
        left: 0;
        background: #0e1d28b3;
    }

    .header-item:not(:last-child){
        margin-right: 0;
    }

    .header-list a {
        display: block;
        padding-right: 0px;
        padding-top: 10px;
    }

    .bar {
        display: block;
        padding: 10px 0;
    }

    #checkbox-toggle:checked ~ .header-list {
        display: block;
        max-height: 200px;
        height: 160px;
        line-height: 100px;
        transition: all 1.5s;
        top: 84px;
    }

    #checkbox-toggle:checked ~ .bar .bar-line {
        background-color: transparent;
    }

    #checkbox-toggle:checked ~ .bar .bar-line::before {
        transform: rotate(-45deg);
        top: 0;
    }

    #checkbox-toggle:checked ~ .bar .bar-line::after {
        transform: rotate(45deg);
        top: 0%;
    }
}

/* Intro */

@media (max-width: 933px) {
    .search-btn {
        margin-top: 70px;
    }

     .search-input {
        background: url(../img/svg/elips-input.svg) no-repeat left 3px;
    }
}

@media (max-width: 760px) {
    .search-info {
        display: block;
    }

    
    .search-input {
        background: url(../img/svg/elips-input.svg) no-repeat left 1px;
    }

    .search-input:not(:last-child) {
        margin-bottom: 30px;
    }


    .search-btn {
        margin-top: 30px; 
        margin-right: 200px; 
    }
}

@media (max-width: 635px) {
    .intro-title {
        width: 100%;
    }

    .intro-subtitle {
        width: 100%;
    }

}

@media (max-width: 600px) {
    .intro {
        padding-bottom: 150px;
    }
}

@media (max-width: 410px) {
    .search-btn {
        margin-right: 0;
    }

    .search-input {
        margin-right: 0;
    }
}

@media (max-width: 330px) {

    .search-input {
        width: 199px;
    }

    .search-input::placeholder {
        font-size: 20px;
    }
}


/* Benefits-cards */

@media (max-width: 600px) {
    .benefits {
        display: none;
    }
}

/* Places */

@media (max-width: 500px) {
    .places {
        display: none;
    }
}

/* Tours */

@media (max-width: 530px) {
    .tours {
        display: none;
    } 
}

/* Top-places */

@media (max-width:556px) {
    .top-places {
        display: none;
    }
}

/* Footer */

@media (max-width: 550px) {
    .footer {
        display: none;
    }
}