/* Reset.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}

input {outline:none;}


/* Settings */
body {
    font-family: 'lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-line {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 62px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.header-item:not(:last-child) {
    margin-right: 82px;
}

.header-link {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.header-link:hover, .header-link:focus {
    opacity: .75;
}

/* Intro */

.intro {
    min-height: 100vh;
    background-image: url(../img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 300px;
}

.intro-title {
    font-family: 'lato';
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    width: 619px;
    margin-bottom: 22px;
}

.intro-subtitle {
    font-family: 'lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    width: 580px;
    margin-bottom: 59px;
}

.search-info {
    display: flex;
    flex-wrap: wrap;
}

.search-input {
    width: 280px;
    background-color: transparent;
    background: url(../img/svg/elips-input.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    padding-left: 43px;
    margin-right: 60px;
    padding-bottom: 22px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: white;
}

.search-input::placeholder {
    color: white;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.search-btn {
    padding: 15px 39px;
    background-color: #1B7DFF;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-family: 'lato';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.search-btn:hover, .search-btn:focus {
    background-color: #1965c8;
}